.button--white1 {
    padding: 12px 40px;
    background-color: var(--white);
    color: var(--orange);
    border: 2px dashed var(--orange);
}

.button--white2 {
    color: var(--orange);
    padding: 20px 48.5px;
    background-color: var(--white);
    font-size: 15px;
    line-height: 18px;
}

.button--orange {
    background-color: var(--orange);
    color: var(--white);
    font-size: 14px;
    line-height: 17px;
    padding: 12px 40px;
}

a[class^=button--] {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
}