section, footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding: 3em 1.5em 3em 1.5em;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.gallery img {
    width: 100%;
}

.gallery .rowspan {
    grid-area: span 3;
}