section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

/*.reference__galerie {
    display: grid;
    grid-template-columns: 1fr;
}*/

/* Potřeba předělat grid u sluzeb !!! */