section, footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding: 3em 1.5em 3em 1.5em;
}



/*.reference__galerie {
    display: grid;
    grid-template-columns: 1fr;
}*/

/* Potřeba předělat grid u sluzeb !!! */