:root {
    --grey: #888;
    --black: #3A3A3A;
    --white: #FFF;
    --orange: #EB6C27;
    --lorange: #FFBE9A;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

html {
    font-family: Open Sans;
    color: var(--black);
}

body {
    margin: 0;
    max-width: 1920px;
}

a {
    display: inline-block;
}

nav {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--white);
}

nav menu {
    z-index: 420;
    list-style: none;
    position: absolute;
    top: 5em;
    left: 1em;
    right: 1em;
    display: none;
    padding: 1.5em;
}

menu li a {
    color: var(--white);
    padding: .5em 0 .5em 0;
}

nav menu.active {
    display: block;
    background-color: var(--orange);
}

.nav__item.active {
    font-weight: 700;   
}

header {
    position: relative;
    height: 24em;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url(../images/pageheader-1920w.jpg);
    background-blend-mode: normal, normal, hue, normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    color: var(--white);
}

.header__title {
    font-weight: 800;
    font-size: 2rem;
}

.header__subtitle {
    font-weight: 400;
    font-size: 1rem;
}

.header__button {
    display: none;
}

section {
    padding: 3em 1.5em 3em 1.5em;
}

.section--presvedceni {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../images/background-CTAblock-4460w.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services__article__img img {
    width: 100%;
}

/*img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
p {
    font-weight: 400;
}

.kontakt__ul li::marker {
    color: transparent;
}

.icon {
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    background-color: var(--orange);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.form__item__input {
    border: 1px solid var(--orange);
}

form button {
    margin-top: 2em;
    font-weight: 700;
    border: 1px solid var(--orange);
}

.icon img {
    width: 1em;
    height: 1em;
}

.map {
    width: 100vw;
    margin-left: -20px;
}

.kontakt__ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25em;
}

.kontakt__ul {
    padding: 0;
}

.kontakt__ul li *, .kontakt__ul li {
    color: var(--orange);
    font-weight: 700;
    text-decoration: none;
}

p, h4 {
    font-size: 14px;
}

.footer__heading {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}


h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

nav {
    margin-bottom: auto;
    color: var(--black);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.menubtn > div {
    position: absolute;
    width: 48px;
    height: 56px;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menubtn {
    position: relative;
}

.menubtn {
    z-index: 999;
    width: 48px;
    height: 56px;
    border: 0;
    background-color: transparent;
}

nav menu {
    text-align: left;
    position: absolute;
    top: 112px;
    left: 20px;
    right: 20px;
    background-color: #EB6C27;
    padding: 25px;
    margin: 0;
    display: none;
    flex-direction: column;
    gap: 15px;
}

.nav__item a {
    font-weight: 500;
    color: var(--white);
}

.nav__item {
    display: block;
}

menu::before {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 20px solid var(--orange);
    top: -20px;
    right: 11px;
    position: absolute;
}


.logo {
    object-fit: cover;
    height: 100%;
}

header {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url(../images/pageheader-1920w.jpg);
    background-blend-mode: normal, normal, hue, normal;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    color: var(--white);
}

header:has(h1) {
    height: 24em;
}

.header__title {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    line-height: 40.85px;
}

.header__text {
    margin: 0;
    margin-bottom: 20px;
}

section {
    margin-top: 46px;
    margin: 20px;
}

article {
    margin: 0;
}

.section--sluzby {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.section--reference {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.section--presvedceni {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../images/background-CTAblock-4460w.jpg);
    background-size: cover;
    padding: 22px;
    margin: 0;
    color: var(--white);
    background-position: center;
}

footer {
    background-color: var(--orange);
    text-align: center;
    padding: 2.25em;
    color: var(--white);
    margin-top: 76px;
}

footer p {
    font-size: 15px;
}

.reference__article p {
    font-size: .75em;   
}

.reference__article {
    text-align: center; 
}

.sluzby__image {
    min-height: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 2.5em 0;
    background-position: center;
}

.sluzby__image--novostavby {
    background-image: url(../images/sluzby/sluzba-novostavby-1200w.jpg);
}

.sluzby__image--prumyslovestavby {
    background-image: url(../images/sluzby/sluzba-prumyslove-stavby-1920w.jpg);
}

.sluzby__image--rekonstrukce {
    background-image: url(../images/sluzby/sluzba-rekonstrukce-1920w.jpg);
}

.sluzby__image--komunikace {
    background-image: url(../images/sluzby/sluzba-komunikace-a-zpevnene-plochy-1200w.jpg);
}

article:nth-child(odd) .sluzby__image {
    border-radius: 0px 0px 0px 40px;
}

article:nth-child(3) .sluzby__image {
    border-radius: 0px 0px 0px 20px;
}

.header__button {
    width: 100%;
    text-align: center;
    margin-bottom: 84px;
    display: none;
}

.header__button__a {
    margin: 0 auto;
    width: 240px;
    padding: 16px 53px;
    text-decoration: none;
}

ul li {
    margin-bottom: 10px;
}

ul li::marker {
    color: var(--orange);
}

li > ul {
    margin-top: 10px;
}*/