:root {
    --grey: #888;
    --black: #3A3A3A;
    --white: #FFF;
    --orange: #EB6C27;
    --lorange: #FFBE9A;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

nav {
    top: 0;
    position: absolute;
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    left: 0;
    right: 0;
}

nav menu {
    position: absolute;
    top: 112px;
    left: 20px;
    right: 20px;
    background-color: #EB6C27;
    padding: 25px;
    margin: 0;
    display: none;
    flex-direction: column;
    gap: 15px;
}

.nav__item a {
    font-weight: 500;
    color: var(--white);
}

.nav__item--active a {
    font-weight: 700;
}

.nav__item {
    display: block;
}

menu.active {
    display: flex;
}

menu::before {
    content: "";
    border-left: .875em solid transparent;
    border-right: .875em solid transparent;
    border-bottom: 1.25em solid var(--orange);
    top: -1.25em;
    right: .75em;
}


.header__title {
    margin: 0;
    font-size: 1.875em;
    font-weight: 800;
    line-height: 40.85px;
}

.header__text {
    margin: 0;
    margin-bottom: 1.25em;
}

.header__button {
    display: none;
}

.logo {
    object-fit: cover;
    height: 100%;
}

html {
    font-family: Open Sans;
    color: var(--black);
}

body {
    margin: 0;
    max-width: 1920px;
}
/*
img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

p {
    font-weight: 400;
    font-size: 14px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

section {
    margin-top: 46px;
    margin: 20px;
}

figure {
    margin: 0;
}

.section--sluzby {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.section--reference {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.section--presvedceni {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../images/background-CTAblock-4460w.jpg);
    background-size: cover;
    padding: 22px;
    margin: 0;
    color: var(--white);
    background-position: center;
}

footer {
    background-color: var(--orange);
    text-align: center;
    padding: 36px;
    color: var(--white);
    margin-top: 76px;
}

footer p {
    font-size: 15px;
}

.reference__figure p {
    font-size: 12px;   
}

.reference__figure {
    text-align: center; 
}

.sluzby__image {
    min-height: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 40px 0px;
    background-position: center;
}

.sluzby__image--novostavby {
    background-image: url(../images/sluzby/sluzba-novostavby-1200w.jpg);
}

.sluzby__image--prumyslovestavby {
    background-image: url(../images/sluzby/sluzba-prumyslove-stavby-1920w.jpg);
}

.sluzby__image--rekonstrukce {
    background-image: url(../images/sluzby/sluzba-rekonstrukce-1920w.jpg);
}

.sluzby__image--komunikace {
    background-image: url(../images/sluzby/sluzba-komunikace-a-zpevnene-plochy-1200w.jpg);
}

figure:nth-child(odd) .sluzby__image {
    border-radius: 0px 0px 0px 40px;
}

figure:nth-child(3) .sluzby__image {
    border-radius: 0px 0px 0px 20px;
}

.header__button {
    width: 100%;
    text-align: center;
    margin-bottom: 84px;
    display: none;
}

.header__button__a {
    margin: 0 auto;
    width: 240px;
    padding: 16px 53px;
    text-decoration: none;
}

.header__button__a::after {
    content: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

ul li {
    margin-bottom: 10px;
}

ul li::marker {
    color: var(--orange);
}
*/