:root {
    --grey: #888;
    --black: #3A3A3A;
    --white: #FFF;
    --orange: #EB6C27;
}

body {
    margin: 0;
    max-width: 1920px;
}

.menu-button {

}

.menu-button__line {
    width: 46px;
    height: 8px;

    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
}